{% extends "base.html" %}

{% block content %}
<style>
    .article-detail {
        width: 60%;
        margin: 0 auto; /* 페이지 가운데 정렬 */
        padding: 20px;
        border: 1px solid #ddd; /* 외곽선 */
        background-color: #ffffff;
    }

    .article-detail h2 {
        text-align: left;
        font-size: 2em;
        margin-bottom: 20px;
    }

    .article-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #ccc;
        padding-bottom: 5px;
    }

    .article-header .left-section {
        display: flex;
        align-items: center;
    }

    .article-header img.profile-pic {
        border-radius: 50%;
        width: 40px;
        height: 40px;
        margin-right: 10px;
    }

    .article-header p {
        margin: 0;
        font-size: 1em;
    }

    .article-header .right-section {
        text-align: right;
        font-size: 0.9em;
        color: #888;
    }

    .article-header .right-section span {
        margin-right: 10px;
    }

    .article-detail img.article-image {
        width: 100%;
        height: auto;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .article-detail p.content {
        font-size: 1.2em;
        margin-bottom: 20px;
        text-align: left;
    }

    .article-footer {
        text-align: right;
    }

    .article-footer2 {
        text-align: center;
        margin-top: 10px;
    }

    .article-price {
        font-size: 1.5em;
        font-weight: bold;
        color: #555;
        margin-bottom: 20px;
    }

</style>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="article-detail">
    <h2>{{ article.title }}</h2>

    <div class="article-header">
        <div class="left-section">
            {% if article.author.profile_image %}
                <img src="{{ article.author.profile_image.url }}" alt="Profile Image" class="profile-pic">
            {% endif %}
            <a href="{% url 'users:profile' username=article.author.username %}">{{ article.author.username }}</a>
        </div>
        <div class="right-section">
            <span>조회수 {{ article.views }}</span>
            <span>♡ <span id="like-count">{{ article.like_users.count }}</span></span>
        </div>
    </div>

    <p class="article-price">{{ formatted_price }}원</p>



    <div class="article-footer">
        <a href="{% url 'articles:update' article.pk %}" style="text-decoration: none;">
            <button type="button" class="btn">수정</button>
        </a>
        <form action="{% url 'articles:delete' article.pk %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn">삭제</button>
        </form>
    </div>

    {% if article.image %}
    <img src="{{ article.image.url }}" alt="Product Image" class="article-image">
    {% endif %}
    <p class="content">{{ article.content }}</p>
    <div class="article-footer2">
        <form action="{% url "articles:like" article.pk %}" method="POST" id="like-from" style="display: inline;">
            {% csrf_token %}
            {% if request.user in article.like_users.all %}
                <button type="submit" class="btn btn-outline-danger">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                        <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                    </svg>
                    찜풀기
                </button>
            {% else %}
                <button type="submit" class="btn btn-outline-primary" id="like-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                    </svg>
                    찜하기
                </button>
            {% endif %}
        </form>
    </div>

{% endblock content %}
