{% extends "base.html" %}


{% block content %}
<h2>Products</h2>

<form action="" method="GET" id="prdForm">
    {% csrf_token %}
    <button type="submit" name="sort" value="latest">최신순</buttom>
        <button type="submit" name="sort" value="popular">인기순</button>
</form>


{% if request.user.is_authenticated %}
<a href="{% url 'articles:create' %}">
    <button>새로운 글작성</button>
</a>
{% else %}
<a href="{% url 'accounts:login' %}">로그인하고 글 작성하기</a>
{% endif %}

{% for article in articles %}
<a href="{% url 'articles:article_detail' article.pk %}">
    <p>[ {{ article.pk }} ] {{ article.title }} 찜수: {{ article.like_count }} 조회수: {{ article.views }}</p>
</a>

{% endfor %}

{% endblock content %}